/*
body background
pie bullet
wide headings
favicon
*/
h1, h2 {
    background-color:rgb(240,240,240);
    color:rgb(164,164,0);
    letter-spacing:0.2em;
    font-family:Century Gothic, Futura, Verdana, serif;
    text-decoration:underline;
}
h1 {
    text-align:center;
    font-weight: bold;
    font-size:22pt;
}
h2 {
    font-size:18pt;
}
body {
    background-image:url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
    background-attachment: fixed;
    color:rgb(64,64,64);
    font-size:11pt;
    font-family:Georgia;
}
ul {
    list-style-type:none;
    list-style-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}
blockquote {
    background-color:rgb(255,255,200);
    font-style:italic;
}
/* line 145 in pie.html */
#lp {
    color:rgb(164,164,0);
    text-decoration:underline;
}

